<%- include('../partials/header') %>
<h3><g><%= skills.skill %></g></h3>
<h4>Experience: <em><%= skills.exp%></em> years of experience</h4>
<h4>Studied through: <%= skills.study%> for <%= skills.studyYears%> years</h4>
<h4>(Go back to <a href="/skills">My Skills</a>)</h4>
<%- include('../partials/footer') %>
